{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["xo"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "sort-imports-es6-autofix"
  ],
  "rules": {
	"sort-imports-es6-autofix/sort-imports-es6": [1, {
		"ignoreCase": false,
		"ignoreMemberSort": false,
		"memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
	  }]
  },
  "ignorePatterns": ["svgo-config.js", "*.tmpl.js"]
}
